<div class="container" style="margin-left: 0; margin-right: 0;">
    <div class="website-footer row">
        
            <div class="name-and-logo col-lg-4 col-md-12 col-sm-12 mt-5 d-flex justify-content-center align-items-center">
                <img src="./ShareKaro-logo.png" alt="" srcset="" style="height: 60px; width: 60px; padding-right: 2px;">
                <h1>ShareKaro</h1>
            </div>
    
            <div class="short-description col-lg-4 col-md-12 col-sm-12 mt-5 d-flex flex-column justify-content-center align-items-center">
                <h3>About Us</h3>
                <p style="text-align: justify;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore optio dolor illo facere, 
                    dolorum sunt iusto blanditiis eligendi suscipit quae quos distinctio itaque. Animi, ad. <a href="/about-devs" style="text-decoration: none;">Read more about Developers.....</a>
                </p>
            </div>
            
            <div class="contact-us-footer col-lg-4 col-md-12 col-sm-12 mt-3 d-flex flex-column justify-content-center align-items-center" style="padding-left: 15px;">
                <h3>Contact Us</h3>
                <div class="socials-footer" style="margin-top: 10px;">
                    <a href="#" class="social-link"><i class="fa-brands fa-instagram fa-xl"></i></a>
                    <a href="#" class="social-link"><i class="fa-brands fa-x-twitter fa-xl"></i></a>
                    <a href="#" class="social-link"><i class="fa-brands fa-square-facebook fa-xl"></i></a>
                    <a href="#" class="social-link"><i class="fa-brands fa-github fa-xl"></i></a>
                    <a href="#" class="social-link"><i class="fa-regular fa-envelope fa-xl"></i></a>
                    <!-- Add more social icons as needed -->
                </div>
            </div>
    </div>
    
    
    <!-- <div class="row">
        <div class="copyright-footer col-lg-12 col-md-12 col-sm-12">
            <p class="text-center">Copyright <i class="fa-light fa-copyright"></i> 2024 ShareKaro. All Rights Reserved.</p>
        </div>
    </div>  -->
</div>
