<div class="container" style="margin-left: 0; margin-right: 0;">
    <div class="website-footer row">
  
        <div class="name-and-logo col-lg-4 col-md-4 col-sm-4">
            <img src="https://via.placeholder.com/50">
            <h1>ShareKaro</h1>
        </div>

        <div class="short-description col-lg-4 col-md-4 col-sm-4">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore optio dolor illo facere, 
                dolorum sunt iusto blanditiis eligendi suscipit quae quos distinctio itaque. Animi, ad.
            </p>
        </div>

        
    </div>   
</div>
