<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #2B2B2B;">
    <div class="container">
      <a class="navbar-brand fs-3" href="/">ShareKaro</a>
      <!-- toggle btn -->
      <button class="navbar-toggler border-0 shadow-none" type="button" 
        data-bs-toggle="offcanvas" 
        data-bs-target="#offcanvasNavbar" 
        aria-controls="offcanvasNavbar" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- sideBAr -->
      <div class="sidebar offcanvas offcanvas-end " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header text-white border-bottom">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Share Note</h5>
          <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <!-- sidebarBody -->
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item mx-2">
              <a class="nav-link active fs-3" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link fs-3" href="/about-devs">About Devs</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link fs-3" href="#">How to Use</a>
            </li>
            <li class="nav-item mx-2 dropdown">
              <a class="nav-link dropdown-toggle fs-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Features
              </a>
              <ul class="dropdown-menu mt-2">
                <li><a class="dropdown-item" href="/Text/">Text Sharing</a></li>
                <li><a class="dropdown-item" href="/File/">File Sharing</a></li>
                <!-- <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li> -->
              </ul>
            </li>
          </ul>
          
        </div>
      </div>
    </div>
  </nav>