<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body class="vh-100">
        <%- include('./partials/navbar.ejs') %>
        <main class="container" style="margin-bottom: 200px;">
            <div class="row justify-content-md-center">
                <div class="col-lg-6 col-md-12 col-sm-12" style="display: flex; justify-content: center; align-items: center; margin-top: 10%;">
                    <a href="/File/" class="col-lg-6 col-md-12 col-sm-12" style="display: flex; justify-content: center; align-items: center;  text-decoration: none;">
                        <div>
                            <div class="animate__animated animate__fadeIn animate__delay-0.5s">
                                <div class="card" style="width: 300px;">
                                    <p class="card-title">File Sharing</p>
                                    <p class="small-desc">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
                                        veritatis nobis saepe itaque rerum nostrum aliquid obcaecati odio
                                        officia deleniti. Expedita iste et illum, quaerat pariatur consequatur
                                        eum nihil itaque!
                                    </p>
                                    <div class="go-corner">
                                        <div class="go-arrow">→</div>
                                    </div>
                                </div>
                            </div>
                        </div>       
                    </a>
                    
             
                </div>
                <a href="/text/" class="col-lg-6 col-md-12 col-sm-12" style="display: flex; justify-content: center; align-items: center; margin-top: 10%; text-decoration: none;">
                    <div>
                        <div class="animate__animated animate__fadeIn animate__delay-0.9s">
                            <div class="card">
                                <p class="card-title">Text Sharing</p>
                                <p class="small-desc">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
                                    veritatis nobis saepe itaque rerum nostrum aliquid obcaecati odio
                                    officia deleniti. Expedita iste et illum, quaerat pariatur consequatur
                                    eum nihil itaque!
                                </p>
                                <div class="go-corner">
                                    <div class="go-arrow">→</div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </a>
                
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>

