<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body class="vh-100 overflow-hidden">
        <%- include('./partials/navbar.ejs') %>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-6 col-md-12 col-sm-12" style="display: flex; justify-content: center; align-items: center; margin-top: 10%;">
                    <div class="animate__animated animate__fadeIn animate__delay-0.5s">
                        <div class="card ml-1">
                            <p class="card-title">File Sharing</p>
                            <p class="small-desc">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
                                veritatis nobis saepe itaque rerum nostrum aliquid obcaecati odio
                                officia deleniti. Expedita iste et illum, quaerat pariatur consequatur
                                eum nihil itaque!
                            </p>
                            <div class="go-corner">
                                <div class="go-arrow">→</div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12" style="display: flex; justify-content: center; align-items: center; margin-top: 10%;">
                    <div class="animate__animated animate__fadeIn animate__delay-0.9s">
                        <div class="card">
                            <p class="card-title">Test Sharing</p>
                            <p class="small-desc">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
                                veritatis nobis saepe itaque rerum nostrum aliquid obcaecati odio
                                officia deleniti. Expedita iste et illum, quaerat pariatur consequatur
                                eum nihil itaque!
                            </p>
                            <div class="go-corner">
                                <div class="go-arrow">→</div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </body>
</html>