<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs',{Title:"Get Started"}) %>
    <body class="vh-100">
        <%- include('./partials/navbar.ejs',{active4:"active",active1:"",active2:"",active3:""}) %>
        <main class="container" style="margin-bottom: 200px;">
            <div class="row justify-content-md-center">
                <div class="col-lg-6 col-md-12 col-sm-12" style="display: flex; justify-content: center; align-items: center; margin-top: 10%;">
                    <a href="/File/" class="col-lg-6 col-md-12 col-sm-12" style="display: flex; justify-content: center; align-items: center;  text-decoration: none;">
                        <div>
                            <div class="animate__animated animate__fadeIn animate__delay-0.5s">
                                <div class="card" style="width: 300px;">
                                    <p class="card-title">File Sharing</p>
                                    <p class="small-desc">
                                        
                                        Need to share documents, images, or other files hassle-free? Drag and drop your files onto the designated area or select
                                        them from your computer. Once uploaded, your files are securely stored and ready for download whenever you need them.
                                    </p>
                                    <div class="go-corner">
                                        <div class="go-arrow">→</div>
                                    </div>
                                </div>
                            </div>
                        </div>       
                    </a>
                    
             
                </div>
                <a href="/text/" class="col-lg-6 col-md-12 col-sm-12" style="display: flex; justify-content: center; align-items: center; margin-top: 10%; text-decoration: none;">
                    <div>
                        <div class="animate__animated animate__fadeIn animate__delay-0.9s">
                            <div class="card">
                                <p class="card-title">Text Sharing</p>
                                <p class="small-desc">
                                    Ready to share your thoughts instantly? Simply type or paste your text into the provided box, hit save, and voila! Your
                                    text is securely stored with us. Want to add an extra layer of security? Lock your content with a personalized passkey
                                    for added peace of mind.
                                </p>
                                <div class="go-corner">
                                    <div class="go-arrow">→</div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </a>
                
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>

