<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs',{Title:"How To Use"}) %>
<body>
    <%- include('./partials/navbar.ejs',{active1:"",active2:"",active3:"active", active4:""}) %>
    <div class="container" style="margin-top: 5%;">
        <div class="row ">
            <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center align-items-center flex-column gap-4">
                <div class="points">
                    <h1>1.</h1>
                    <p>Choose your choice</p>
                </div>

                <div class="points">
                    <h1>2.</h1>
                    <p>Choose your choice. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad unde, cum voluptatum delectus soluta porro dicta, vel quisquam facilis molestias provident optio eum sequi perspiciatis similique aperiam voluptas corrupti doloribus!</p>
                </div>

                <div class="points">
                    <h1>3.</h1>
                    <p>Choose your choice</p>
                </div>

            </div>
        </div>
    </div>
</body>
</html>