<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs',{Title:"How To Use"}) %>
<body>
    <%- include('./partials/navbar.ejs',{active1:"",active2:"",active3:"active", active4:""}) %>
    <div class="container" style="margin-top: 5%;">
        <div class="row ">
            <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center align-items-center flex-column gap-4">
                <div class="points">
                    <h1>1.</h1>
                    <p>Choose your choice, whether the share text or to share file by clicking Features option in navigation bar or  just by clicking Get Started
                    </p>
                </div>

                <div class="points">
                    <h1>2.</h1>
                    <p>Create your personalized URL, you can create the personalized url by changing the path beside the sub-domain from searchbar
                    </p>
                </div>

                <div class="points">
                    <h1>3.</h1>
                    <p>Access your data, get access to your data just by searching the url created, thereby avoiding lengthy logins and sign-up's, thus increasing the user's productivity and saving end-user's time</p>
                </div>

            </div>
        </div>
    </div>
</body>
</html>