 <!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="style.css">
  

    <title>Home Page</title>
</head> -->
<%- include('./partials/head.ejs') %>
<body class="vh-100">
    <!-- navbar
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #2B2B2B;">
  <div class="container">
    <a class="navbar-brand fs-3" href="./index.html">Project Name</a>
    toggle btn
    <button class="navbar-toggler border-0 shadow-none" type="button" 
      data-bs-toggle="offcanvas" 
      data-bs-target="#offcanvasNavbar" 
      aria-controls="offcanvasNavbar" 
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    sideBAr
    <div class="sidebar offcanvas offcanvas-end " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header text-white border-bottom">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Project Name</h5>
        <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      sidebarBody
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item mx-2">
            <a class="nav-link active fs-3" aria-current="page" href="./index.html">Home</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link fs-3" href="#">About Devs</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link fs-3" href="#">How to Use</a>
          </li>
          <li class="nav-item mx-2 dropdown">
            <a class="nav-link dropdown-toggle fs-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Features
            </a>
            <ul class="dropdown-menu mt-2">
              <li><a class="dropdown-item" href="#">Text Sharing</a></li>
              <li><a class="dropdown-item" href="#">File Sharing</a></li>
              \
            </ul>
          </li>
        </ul>
        
      </div>
    </div>
  </div>
</nav> -->
<%- include('./partials/navbar.ejs') %>
<main class="container">
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 ">
      <div class="animate__animated animate__fadeInUp animate__delay-0.5s">
        <section class="section1 d-flex flex-column justify-content-center vh-100 w-100 " >
          <h2 class="section1-heading text-center text-sm text-md text-lg text-xl">
            Welcome to our innovative sharing platform, where trust meets convenience. Say goodbye to lengthy logins and share your
            text and files securely, effortlessly, and without delay.
          </h2>
          <a href="./get-started" class="getstartedbtn">
            <button class="button btn-primary mt-3 fs-3 mx-auto text-sm text-md text-lg text-xl">
              Get Started
              <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
                <path clip-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z" fill-rule="evenodd"></path>
              </svg>
            </button>
          </a>
        </section>
      </div>
      
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="animate__animated animate__fadeInRight animate__delay-1s">
      <div class="animation-home-pg d-flex justify-content-center align-items-center vh-100 w-100 mt-5">
        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

        <dotlottie-player src="https://lottie.host/b09ec01c-1674-44ee-bc4a-ddaee6fc1f8f/BJzBooRmHP.json" background="transparent" speed="0.5" style="width: 500px; height: 500px;" loop autoplay></dotlottie-player>
      </div>
     
    </div>
  </div>
  </div>
</main>
<%- include('./partials/footer.ejs') %>


</body>
</html>