<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>

    
    <div class="container">
      
        <div class="row">
          <form action="/Text/save" method="post">
            <textarea style="font-size: large;" id="content" name="content" placeholder="Enter your text here..." class="notepad mt-2"><%=content%></textarea>
            <!-- save button -->

            <div class="save-lock-btn">
            
                <button type="submit" class="bookmarkBtn">
                    <span class="IconContainer">
                      <svg viewBox="0 0 384 512" height="0.9em" class="icon">
                        <path
                          d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"
                        ></path>
                      </svg>
                      <!-- <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" id="unlock"><path fill="none" d="M0 0h48v48H0z"></path><path d="M24 34c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm12-18h-2v-4c0-5.52-4.48-10-10-10S14 6.48 14 12h3.8c0-3.42 2.78-6.2 6.2-6.2 3.42 0 6.2 2.78 6.2 6.2v4H12c-2.21 0-4 1.79-4 4v20c0 2.21 1.79 4 4 4h24c2.21 0 4-1.79 4-4V20c0-2.21-1.79-4-4-4zm0 24H12V20h24v20z"></path></svg> -->
                    </span>
                    <p  class="text">Save</p>
                  </button>
                <% if(lockButton) {%>
                  <button type="button" class="bookmarkBtn2" id="showPopup">
                    <span class="IconContainer2">
                      <svg class="svg-icon2" viewBox="0 0 20 20">
                                              <path d="M17.308,7.564h-1.993c0-2.929-2.385-5.314-5.314-5.314S4.686,4.635,4.686,7.564H2.693c-0.244,0-0.443,0.2-0.443,0.443v9.3c0,0.243,0.199,0.442,0.443,0.442h14.615c0.243,0,0.442-0.199,0.442-0.442v-9.3C17.75,7.764,17.551,7.564,17.308,7.564 M10,3.136c2.442,0,4.43,1.986,4.43,4.428H5.571C5.571,5.122,7.558,3.136,10,3.136 M16.865,16.864H3.136V8.45h13.729V16.864z M10,10.664c-0.854,0-1.55,0.696-1.55,1.551c0,0.699,0.467,1.292,1.107,1.485v0.95c0,0.243,0.2,0.442,0.443,0.442s0.443-0.199,0.443-0.442V13.7c0.64-0.193,1.106-0.786,1.106-1.485C11.55,11.36,10.854,10.664,10,10.664 M10,12.878c-0.366,0-0.664-0.298-0.664-0.663c0-0.366,0.298-0.665,0.664-0.665c0.365,0,0.664,0.299,0.664,0.665C10.664,12.58,10.365,12.878,10,12.878"></path>
                                          </svg>
                    </span>
                    <p class="text">Lock</p>
                  </button>
                  <% } %>
            </div>
            </form>
            <form >
            <div id="popup" class="popup">
              <h1 style="text-decoration: bold;">Do you want to Lock this page content ??</h1>
              <p>Locking this page disable other public users to see the content written</p>
              <input type="text" name="passkey" id="passkey" placeholder="Enter a passkey to Lock" style="margin-top: 10px; padding: 10px; width: 95%; background-color: #1E1E1E; border-radius: 12px; color: #709f44;" >
              
              <div class="lock-cancel-btn">
                <button type="button" id="hidePopup">Cancel</button>
                <button type="submit" id="lock" formaction="/Text/lock" formmethod="post" >Lock</button>
              </div>
            

            </div>
            </form>
           
              
            <!-- Overlay div -->
            <div id="overlay" class="overlay"></div>

        </div>
    </div>
    
    <script>

      
      document.getElementById('showPopup').addEventListener("click", ()=>{
        document.getElementById('popup').style.display = 'block';
        document.getElementById('overlay').style.display = 'block';
      });
    

      document.getElementById('hidePopup').addEventListener("click", ()=>{
        document.getElementById('popup').style.display = 'none';
        document.getElementById('overlay').style.display = 'none';
      });
      

      // function showPopup(event) {
      //   // Prevent default behavior of the button
      //   event.preventDefault();
        
      //   // Show the popup and overlay
      //   document.getElementById('popup').style.display = 'block';
      //   document.getElementById('overlay').style.display = 'block';
      // }
    
      // function hidePopup() {
      //   // Hide the popup and overlay
      //   document.getElementById('popup').style.display = 'none';
      //   document.getElementById('overlay').style.display = 'none';
      // }
    </script>
    <%- include('./partials/footer.ejs') %>
</body>
</html>