<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Locked URL</title>
	<link rel="stylesheet" href="/style.css">
</head>

<body>
	<div id="lockPageContent">
		<p style="font-size: 30px; font-weight: bold;">This URL is locked</p>
		<form action="/Text/unlock" method="post">
			<input type="password" name="passkey" placeholder="Enter passkey">
			<br>
			<a style="color: red;">
				<%=error %>
			</a>
			<br>
			<button type="submit">Unlock</button>
		</form>
		
		</div>
	</div>
</body>

</html>