
@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@600;700&display=swap');

body{
    
    background-color: #1E1E1E;
    font-family: 'Cairo Play', sans-serif;
    color: beige;
    font-size: 16px;}


    ::-webkit-scrollbar-thumb {
      background: #2B2B2B; /* color of the scrollbar handle */
    }   
    ::-webkit-scrollbar-thumb:hover {
      background: #2B2B2B; /* color of the scrollbar handle when hovered */
    } 
@media (max-width: 991px) {
    .sidebar{
        background-color: #2B2B2B;
        backdrop-filter: blur(10px);
    }
}

.dropdown-menu {
    background-color: #2B2B2B;
    backdrop-filter: blur(100px);
  }

  /* Optional: Change text color for better contrast */
  .dropdown-item {
    color: beige /* White text color */
  }

  .button {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(0 107 179);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }
  
  .button:hover .icon {
    transform: translate(4px);
  }
  
  .button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }
  
/* cards */
.card-title {
    color: #262626;
    font-size: 1.5em;
    line-height: normal;
    font-weight: 700;
    margin-bottom: 0.5em;
  }
  
  .small-desc {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    color: #452c2c;
  }
  
  .small-desc {
    font-size: 1em;
  }
  
  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2em;
    height: 2em;
    overflow: hidden;
    top: 0;
    right: 0;
    background: linear-gradient(135deg, #6293c8, #384c6c);
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  
  .card {
    display: block;
    position: relative;
    max-width: 300px;
    max-height: 350px;
    background-color: #f2f8f9;
    border-radius: 10px;
    padding: 2em 1.2em;
    margin: 12px;
    /* margin-left: 10%; */
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
    font-family: 'Cairo Play', sans-serif;
  }
  
  .card:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: linear-gradient(135deg, #364a60, #384c6c);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.35s ease-out;
  }
  
  .card:hover:before {
    transform: scale(28);
  }
  
  .card:hover .small-desc {
    transition: all 0.5s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .card:hover .card-title {
    transition: all 0.5s ease-out;
    color: #ffffff;
  }
  
  .col{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    
  }

  /* Default font size */


/* Adjust font size for smaller screens */
@media screen and (max-width: 768px) {
  body {
      font-size: 14px;
  }
}

/* Adjust font size for even smaller screens */
@media screen and (max-width: 480px) {
  body {
      font-size: 12px;
  }
}

/* Adjust font size for larger screens */
@media screen and (min-width: 1200px) {
  body {
      font-size: 18px;
  }
}

.notepad{
  resize: none;
  height: 88vh;
  width: 100%;
  background-color: #1E1E1E;
  color: beige;
  font-family: 'Cairo Play', sans-serif;
  border: #1E1E1E;
}

/* .notepad:not(:focus){
  border: none;
} */
.notepad:active{
  border: none;
}


.bookmarkBtn {
  width: 7em;
  height: 2.5em;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.349);
  background-color: rgb(12, 12, 12);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
}

.IconContainer {
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, rgb(255, 136, 255), rgb(172, 70, 255));
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.3s;
}

.icon {
  border-radius: 1px;
  width: 1.2em;
  height: 1.2em;
}

.text {
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: beige;
  z-index: 1;
  transition-duration: 0.3s;
  font-size: 1.04em;
  padding-top: 0.8em;
}

.bookmarkBtn:hover .IconContainer {
  width: 90px;
  transition-duration: 0.3s;
}

.bookmarkBtn:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: 0.3s;
}

.bookmarkBtn:active {
  transform: scale(0.95);
  transition-duration: 0.3s;
}


.bookmarkBtn2{
  width: 7em;
  height: 2.5em;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.349);
  background-color: rgb(12, 12, 12);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
}

.IconContainer2 {
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, rgb(255, 136, 255), rgb(172, 70, 255));
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.3s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: 0.3s;
  font-size: 1.04em;
  padding-top: 0.8em;
}

.bookmarkBtn2:hover .IconContainer2 {
  width: 90px;
  transition-duration: 0.3s;
}

.bookmarkBtn2:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: 0.3s;
}

.bookmarkBtn2:active {
  transform: scale(0.95);
  transition-duration: 0.3s;
}

.svg-icon2 {
  width: 1.2em;
  height: 1.2em;
}

.svg-icon2 path,
.svg-icon2 polygon,
.svg-icon2 rect {
  fill: black;
  stroke-width: 2;
}

.svg-icon2 circle {
  stroke: black;
  stroke-width: 2;
}

.save-lock-btn {
  display: flex;
  gap: 10px; /* Adjust the space between buttons */
  transform: translateY(-50px);
  justify-content: flex-end; /* Align items to the start (left) */
  align-items: flex-end;
  padding-right: 1.2em;
 
  
}

.lock-cancel-btn{
  position: absolute;
  bottom: 10px;
  right: 0px;
  display: flex;
  gap: 17px; /* Adjust the space between buttons */
  margin-top: 10rem;
  justify-content: flex-end; /* Align items to the start (left) */
  align-items: flex-end;
  padding-right: 1.2em;
}

.popup {
  display: none; /* Hide popup by default */
  position: fixed;
  top: 50%;
  left: 50%;
  height: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  background-color: #2B2B2B;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  text-align: center;
}
/* Overlay styles */
.overlay {
  display: none; /* Hide overlay by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 999;
}

.passkey{
  padding: 5px;
  width: 10rem;
  border-radius: 50%;
  background-color: #1E1E1E;
}